<div class="container-xxl masthead-followup mt-5">
    <div class="col-md-6 col-sm-12 mx-auto text-center">
        <h2 class="mb-3 fw-semibold">Left any questions? Contact us!</h2>
    </div>
    <div class="col-md-6 col-sm-12 mx-auto">
        <form class="needs-validation" novalidate="">
            <div class="row g-3 mx-auto">
              <div class="col-sm-12">
                <label for="firstName" class="form-label">Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Ivan" value="" required="">
              </div>
              <div class="col-sm-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="test@example.com" value="" required="">
              </div>
              <div class="col-sm-12">
                <label for="question-type" class="form-label">Area of your question</label>
                <select id="question-type" class="col-lg-4 form-select">
                    <option>
                        Pricing
                    </option>
                    <option>
                        UI 
                    </option>
                    <option>
                        User managment
                    </option>
                </select>
              </div>
              <div class="col-sm-12">
                <label for="feedback" class="form-label">Your question</label>
                <textarea class="form-control" id="feedback" name="Text1" cols="40" rows="5"></textarea>
              </div>
             
            </div>
  
            <button class="w-70 btn btn-primary btn-lg mt-5" type="submit">Send a feedback</button>
          </form>
    </div>
</div>