<header id="about">
  <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand"><img class="logo" src="../../assets/Logo_Title.png" alt=""></a>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a href="#contact" class="fw-semibold nav-link ">Связаться</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a href="#about" class="fw-semibold nav-link">Наверх</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>