

.bd-masthead h1 {
    font-size: 4rem;
    line-height: 1;
}

.card-header {
    background-color: #ffe8d6;
}

.card-body {
    background-color: #ddbea9;
}


.postive-benefit {
    color: rgb(103, 188, 63);
}
.negative-benefit {
    color: rgb(239, 88, 88);
}
.img-div {
    display: flex;
    margin-left: -8rem;
  }
.mr-5{
    margin-right: 5rem;
}
.btn{
    background-color: #C28C00;
    opacity: 70%;
}
section{
    margin-top: 15rem;
}
input, select, textarea{
    background-color: rgb(60, 60, 60);
    outline: none;
    border:none;
}
::placeholder{
    color: rgb(114, 114, 114);
}
.logo-bottom{
    margin-top: 10rem;
}
.first{
    margin-top: 5rem;
}
