.logo {
    width: 100px;
}



.bd-masthead h1 {
    font-size: 4rem;
    line-height: 1;
}

.card-header {
    background-color: #ffe8d6;
}

.card-body {
    background-color: #ddbea9;
}


.postive-benefit {
    color: forestgreen;
}
.negative-benefit {
    color: red;
}